# Build files
bin/
obj/

# IDE files
.vs/
.vscode/
.idea/

# User files
*.suo
*.user
*.userprefs

# Package manager files
.nuget
.packages/

# Misc files
*.DS_Store

# Plugin files
.ionide/

# Application files
results.json
TestResults/
msbuild.log
*.trx


# Test files
test/**/Directory.Build.props
